* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    max-width: 1200px;
    
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
    
}


.card{
    width: calc(33% - 13px);
    border: 1px #DDDDDD solid;
}

.text{
    text-align: left;
    padding: 6px 10px ;
    font-size: 16px;
    

}

.brand_name{
    font-size: 14px;
}

.price{
   font-size: 14px;
}

.img {
    width: 100%;
}

footer{
    background-color: #1A1A1A;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.footer_container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.left_text{
    text-align: left;



}

.right_text{
    text-align: right;

}


